@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;400&display=swap');

* {
    box-sizing: border-box;
}

body{
    background: linear-gradient(60deg,rgb(63, 192, 97),rgb(3, 84, 16));
    font-family: 'Poppins',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.user-form{
    width: 100%;
    max-width: 700px;
}

.user-form input{
    width: 100%;
    display: block;
    background-color: rgb(31, 224, 67);
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 1rem;
    margin-bottom: 2rem;
    font-family: inherit;
    font-size: 1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.user-form input:focus{
    outline: none;
}

.user-form input::placeholder{
    color: rgb(231, 231, 231);
}

.card{
    max-width: 800px;
    background-color: rgb(26, 244, 113);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3),
    0 15px 40px rgba(0, 0, 0, 0.3);
    display: flex;
    padding: 3rem;
    margin: 0 1.5rem;
    border-radius: 20px;
}

#avatar{
    border-radius: 50%;
    border: 10px solid #2a7236;
    width: 150px;
    height: 150px;
}

.user-info{
    color: #000000;
    margin-left: 2rem;
}

.user-info h2{
    margin-top: 0;
    font-weight: 900;
}

.user-info ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: space-between;
    max-width: 400px;
}

.user-info ul li{
    display: flex;
    align-items: center;
}

.user-info ul li strong{
    font-size: 0.9rem;
    margin-left: 0.5rem;
}

.repo{
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    background-color: rgb(1, 69, 255);
    color: white;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
}

@media(max-width: 500px) {
    .card{
        flex-direction: column;
        align-items: center;
    }

    .user-form{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 400px;
    }
}